<section class="m-5 border p-4">
  <h3 class="mb-5 text-center">Editar Producto</h3>
    <form action="/api/productos/<%= product.id %>?_method=PUT" method="post" class="row g-3">
        <div class="col-md-4">
          <label for="product" class="form-label">Producto</label>
          <input type="text" name="product" class="form-control" id="product" value="<%= product.product %>">
        </div>
        <div class="col-md-4">
          <label for="value" class="form-label">$ Precio</label>
          <input type="number" name="value" class="form-control" id="price" value="<%= product.value %>">
        </div>
        <div class="col-md-4">
          <label for="code" class="form-label">C칩digo</label>
          <input type="number" name="code" class="form-control" id="code" value="<%= product.code %>">
        </div>
        <div class="col-12">
          <label for="description" class="form-label">Descripci칩n</label>
          <input type="text" name="description" class="form-control" id="description" value="<%= product.description %>">
        </div>
        <div class="col-md-4">
          <label for="stock" class="form-label">Stock</label>
          <input type="text" name="stock" class="form-control" id="stock" value="<%= product.stock %>">
        </div>
        <div class="col-8">
          <label for="imgUrl" class="form-label">Foto (URL)</label>
          <input type="text" name="urlImg" class="form-control" id="urlImg" placeholder="Ingrese la direcci칩n URL de la im치gen" value="<%= product.urlImg %>">
        </div>
        <div class="col-12 text-center">
          <button type="submit" class="btn btn-success mt-4">Actualizar</button>
        </div>
      </form>
      <%- include("../partials/deleteProductForm") %>
</section>