<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
    <body>
        <h1 class="m-5"><%= product.product %></h1>
        <% if (admin) {%>  
            <%- include("../partials/editProductForm") %>
        <% } %>
        <section class="m-5">
            <table class="table table-striped align-middle text-center">
                <thead class="table-dark">
                  <tr>
                    <th scope="col">Producto</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Imágen</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="col"><%= product.product %></th>
                        <th scope="col"><%= product.value %></th>
                        <th scope="col"><img src="<%= product.urlImg %>" alt="<%= product.name + product.id %>" class="img-thumbnail img__products"></th>
                    </tr>
                </tbody>
              </table>
        </section>
        <section class="text-center">
            <a class="btn btn-primary" href="javascript:window.history.back();" role="button">volver</a>
        </section>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>
        <script src="/script.js"></script>              
    </body> 
</html>